<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
  </head>
  <body>
    <h1>Home Page</h1>

    <button hx-get="/hello/" hx-target="#result" hx-swap="innerHTML">
      CLick Me
    </button>

    <button hx-get="/message/" hx-target="#result" hx-swap="innerHTML">
      Print success
    </button>

    <button
      hx-get="/action/?action=message"
      hx-target="#result"
      hx-swap="innerHTML"
    >
      Print Success
    </button>

    <button
      hx-get="/action/?action=hello"
      hx-target="#result"
      hx-swap="innerHTML"
    >
      Click Hello
    </button>

    <div id="result" style="margin-top: 20px; color: green"></div>
  </body>
</html>
